<!-- NAV button links -->

<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="550" style="margin: auto;" class="email-container">
  <tr>
    <td bgcolor="#f2f2f2" class="mobBorder">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td bgcolor="#f6f6f6" style="border-left: 2px solid #131b49">
            <center>
              <a target="_blank" href="#"><img src="https://s3.amazonaws.com/ritzcreative/responsivehome/content/GlobalNAV/NAVNewCars.png" width="100" border="0" align="center" style="width: 100%; max-width: 125px; height: auto; background: #f2f2f2;" class="g-img"></a>
            </center>
          </td>
          <td bgcolor="#f6f6f6" style="border-right: 1px solid #c3c3c3; border-left: 1px solid #c3c3c3">
            <center>
              <a target="_blank" href="#"><img src="https://s3.amazonaws.com/ritzcreative/responsivehome/content/GlobalNAV/NAVPreOwned.png" width="100" border="0" align="center" style="width: 100%; max-width: 125px; height:auto; background: #f2f2f2" class="g-img"></a>
            </center>
          </td>
          <td bgcolor="#f6f6f6" style="border-right: 2px solid #131b49">
            <center>
              <a target="_blank" href="#"><img src="https://s3.amazonaws.com/ritzcreative/responsivehome/content/GlobalNAV/NAVService.png" width="100" border="0" align="center" style="width: 100%; max-width: 125px; height: auto; background: #f2f2f2;" class="g-img"></a>
            </center>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
