<tr>
  <td bgcolor="#f2f2f2" class="mobBorder">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td bgcolor="#f2f2f2" style="color:#000000;text-align: center;line-height:10px;font-size:10px;font-family:arial,sans-serif;padding:0 60px 15px 60px;">
          Have you started shopping for the holiday season yet? Selecting a thoughtful gift for each person on your list can take time and research, but you're in luck. We've curated a list of our most popular Country-Intensive voyages, any of which would be a perfect gift for the avid traveler in your life.
        </td>
      </tr>
    </table>
  </td>
</tr>
