<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="550" style="margin: auto;" class="email-container">
  <tr>
    <td bgcolor="#1d1d1d" class="mobBorder" style="padding: 0 75px">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td bgcolor="#1d1d1d">
            <center>
              <a target="_blank" href="#"><img src="https://s3.amazonaws.com/ritzcreative/responsivehome/content/SocialMedia/Mercedes/MercedesFacebook.png" width="100" border="0" align="center" style="width: 100%; max-width: 60px; height: auto; background: #1d1d1d;" class="g-img"></a>
            </center>
          </td>
          <td bgcolor="#1d1d1d">
            <center>
              <a target="_blank" href="#"><img src="https://s3.amazonaws.com/ritzcreative/responsivehome/content/SocialMedia/Mercedes/MercedesTwitter.png" width="100" border="0" align="center" style="width: 100%; max-width: 60px; height: auto; background: #1d1d1d" class="g-img"></a>
            </center>
          </td>
          <td bgcolor="#1d1d1d">
            <center>
              <a target="_blank" href="#"><img src="https://s3.amazonaws.com/ritzcreative/responsivehome/content/SocialMedia/Mercedes/MercedesInstagram.png" width="100" border="0" align="center" style="width: 100%; max-width: 60px; height: auto; background: #1d1d1d;" class="g-img"></a>
            </center>
          </td>
          <td bgcolor="#1d1d1d">
            <center>
              <a target="_blank" href="#"><img src="https://s3.amazonaws.com/ritzcreative/responsivehome/content/SocialMedia/Mercedes/MercedesYouTube.png" width="100" border="0" align="center" style="width: 100%; max-width: 60px; height: auto; background: #1d1d1d;" class="g-img"></a>
            </center>
          </td>
          <td bgcolor="#1d1d1d">
            <center>
              <a target="_blank" href="#"><img src="https://s3.amazonaws.com/ritzcreative/responsivehome/content/SocialMedia/Mercedes/MercedesMaps.png" width="100" border="0" align="center" style="width: 100%; max-width: 60px; height:auto; background: #1d1d1d;" class="g-img"></a>
            </center>
          </td>
          <td bgcolor="#1d1d1d">
            <center>
              <a target="_blank" href="#"><img src="https://s3.amazonaws.com/ritzcreative/responsivehome/content/SocialMedia/Mercedes/MercedesYelp.png" width="100" border="0" align="center" style="width: 100%; max-width: 60px; height: auto; background: #1d1d1d" class="g-img"></a>
            </center>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
